/* gradients copied from https://cssgradient.io/ */


html {
    box-sizing: border-box;
    background-color: #eeece8;
    
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
    width: 80%;
    margin: 50px auto;    
    background: #D0CCC3;
    background: linear-gradient(90deg,rgba(208, 204, 195, 1) 0%, rgba(250, 250, 246, 1) 23%, rgba(186, 179, 170, 1) 100%);   
    font-family: "Roboto", sans-serif; 
}

header {
    color: #eeece8;
    padding: 30px 5px;
    text-align: center;
    background: #756B62;
    background: linear-gradient(90deg,rgba(117, 107, 98, 1) 0%, rgba(164, 157, 147, 1) 23%, rgba(108, 100, 91, 1) 100%);
}

h1, h2, header p {
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    line-height: 1.2em;
    font-weight: 300;
}

main {
    display: flex;
    flex-direction: row;
    border-bottom: #968f85 1px solid;

}

article {
    text-align: center;
    flex-basis: 60%;
    border-right: 1px #968f85 solid;
}

aside {
    flex-basis: 40%;
}

img {
    width: 100%;
}

article, aside {
    padding: 10px
}

footer {
    padding-bottom: 3px;
    text-align: center;
    color: #625951a0;
}
