@charset "utf-8";
@import url("normalize.css");

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* --- COLOUR AND TYPEFACE SETTING --- */

body {
    background-color: #1b1d20;
    color: #8edbe8;
    font-family: monospace;
    font-size: 14px;
    text-transform: lowercase;
    padding: 10px;
    line-height: 1.18;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: #e2cd68;
}

a {
    color: #e268bf;
    text-decoration: none;
}

/* make the star tag match */
/* svg fill: https://stackoverflow.com/a/65147574 */
svg {
    fill: #e268bf;
    width: 12px;
}

a:hover {
    text-decoration: underline;
}

/* i decided not to change the link colours on the lists just so that they're still obviously links */
ul, ol {
    color: #25b41e;
}

/* --- MAKING THIS LOOK LIKE CODE --- */

/* paragraphs look like blocks of code */
/* display: block allows for the content to appear on its own line */
p::before {
    content: "{";
    display: block;
    color: #e2cd68;
    margin-left: -2em;
}

p::after {
    content: "}";
    display: block;
    color: #e2cd68;
    margin-left: -2em;
}

p {
    margin-left: 2em;
}

/* links look like html tags */
a::before {
    content: "<";
}

a::after {
    content: ">"
}

/* lists look like python comments */
ul li {
    list-style-type: "# ";
}

/* every header except for the h1 will have a semicolon after it (the blinking cursor is instead of the semicolon for the h1, implying it is still being typed) */
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
    content: ";"
}


/* i can't get the blinking cursor to show up without text as the content (" " won't work for me) so i set some text content and then set the text colour to transparent.  */
h1::after {
    content: "_";
    color: #1b1d2000;
    background-image: url("images/blinking-cursor.gif");
    background-size: contain;
    /* filter: saturate(0%) brightness(100000%); */
}
