@charset "utf-8";
@import url("normalize.css");

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* --- COLOUR SETTING --- */

body {
    background-color: #1b1d20;
    color: #8edbe8;
    font-family: monospace;
    font-size: 14px;
    text-transform: lowercase;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #e2cd68;
}

a {
    color: #e268bf;
    text-decoration: none;
}

/* make the star tag match */
/* svg fill: https://stackoverflow.com/a/65147574 */
svg {
    fill: #e268bf;
    width: 12px;
}

a:hover {
    text-decoration: underline;
}

/* i decided not to change the link colours on the lists just so that they're still obviously links */
ul, ol {
    color: #25b41e;
}

