@charset "utf-8";
@import url("normalize.css");

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* --- VARIABLE SETTING --- */

:root {
    /* background */
    --background-dark: #1b1d20;
    --background-semitransparent: #1b1d20aa;
    --background-light: #36393d;
    /* text */
    --text: #ebe9df;
    --header: #8edbe8;
    --link: #e268bf;
    --comment: #25b41e;
    --accent-yellow: #e2cd68;
    --error-red: #dd2323;
    /* useful colours */
    --transparent: #00000000
}

/* --- COLOUR AND TYPEFACE SETTING --- */

body {
    background-color: var(--background-dark);
    color: var(--text);
    font-family: monospace;
    font-size: 16px;
    text-transform: lowercase;
    line-height: 1.18;
    padding: 15px
}

h1 {
    color: var(--error-red);
    text-decoration: underline dotted;
    font-style: italic;
}

h2, 
h3, 
h4, 
h5, 
h6 {
    color: var(--header);
}

a {
    color: var(--link);
    text-decoration: none;
}

/* make the star tag match */
/* svg fill: https://stackoverflow.com/a/65147574 */
svg {
    fill: var(--link);
    width: 12px;
}

a:hover {
    text-decoration: underline;
}

/* i decided not to change the link colours on the lists just so that they're still obviously links */
ul {
    color: var(--comment);
}

strong {
    color: var(--header);
}

/* --- MAKING THIS LOOK LIKE CODE --- */

/* paragraphs look like blocks of code */
/* display: block allows for the content to appear on its own line */
p::before {
    content: "{";
    display: block;
    color: var(--accent-yellow);
    margin-left: -2em;
}

p::after {
    content: "}";
    display: block;
    color: var(--accent-yellow);
    margin-left: -2em;
}

p {
    margin-left: 2em;
}

/* links look like html tags */
a::before {
    content: "<";
}

a::after {
    content: ">"
}

/* lists look like python comments */
ul li {
    list-style-type: "# ";
}

ol li::marker {
    content: counter(list-item) " > ";
}

/* every header except for the h1 will have a semicolon after it (the blinking cursor is instead of the semicolon for the h1, implying it is still being typed) */
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
    content: ";"
}


/* i can't get the blinking cursor to show up without text as the content (" " won't work for me) so i set some text content and then set the text colour to transparent.  */
/* using answers from this helped me figure out how to remove the dotted underline https://stackoverflow.com/questions/1238881/text-decoration-and-the-after-pseudo-element-revisited */
h1::after {
    content: ".";
    color: var(--transparent);
    background-image: url("images/blinking-cursor.gif");
    background-size: contain;
    display: inline-block;
    /* filter: saturate(0%) brightness(100000%); */
}

blockquote::before {
    content: "   command prompt:";
    white-space: pre;
    background-image: 
        url("images/console-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-transform: uppercase;
    background-color: var(--background-light);
    display: block;
    padding: 5px;
    margin: -10px;
}

@media (min-width:640px) {
    blockquote::before {
        background-image: 
        url("images/console-icon.png"),
        url("images/browser-buttons.png");
        background-position: 0%, 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
}



blockquote {
    background: black;
    padding: 10px;
    border-radius: 2%;
    padding-bottom: 70px;
}

blockquote p{
    margin: 20px 0 0 0;
}

blockquote p::before {
    display: inline;
    margin: 0;
    content: "C\\Users\\gillian\\style-stage>";
    color: var(--text);
    font-style: italic;
}

blockquote p::after {
    display: none;
}

/* --- LAYOUT --- */

/* header bar */
header {
    /* border: 3px dashed white; */
    padding: 20px 20px 40px 20px;
    margin: -30px -15px 0 -15px;
    text-align: center;
    background-color: var(--background-light);
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

/* z-index keeps this on top of the header */
.skip-link {
    position: relative;
    z-index: 100;
    padding: 10px;
}

h1 {
    font-size: 40px;
    text-align: center;
}

header h2 {
    text-align: center;
}

/* remove the code looking snippet */
header p::before, header p::after {
    content: none;
}

/* navigation */
/* mars helped me with getting the sticky navigation working */
nav {
    margin: -15px;
    position: sticky;
    top: 0;
    background-color: var(--background-semitransparent);
}
nav ul {
    display: flex;
    padding:  0;
    margin: 0 auto;
}

nav ul li {
    padding: 10px;
    display: inline-flex;
    flex: 1;
    font-weight: bold;
    /* width: fit-content; */
}

nav ul li:hover {
    background-color: var(--background-light);
}

nav ul li a {
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    
    nav ul {
        display: inline-block;
        margin-top: 0.5em;
    }

    nav ul li {
        display: block;
    }
    /* body {
        width: 80%;
    } */
}
/* nav */
/* phone screens */


/* --- MAIN BODY */
main, aside, footer {
    width: 60%;
    margin: 0 auto;
} 

