@charset "utf-8";

/* set up the box model */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* ----- main -----  */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

/* ----- container ----- */
#container {
    width: 80%;
    max-width: 760px;
    margin: 0 auto;
    font-family: "Roboto Flex", sans-serif;
    text-wrap: wrap;
    overflow-wrap: break-word;
}

/* ----- header ----- */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header h1 {
    height: fit-content;
    order: 2;
    width: 100%;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    line-height: .77;
    text-transform: lowercase;
    font-weight: 800;
    font-size: 6em;
    margin: 0;
    flex-basis: 100%;
}

/* changing the margin on the em moves the whole h1 text
    because it's inline */
h1 em {
    font-style: normal;
    color: red;
    margin-left: -2px;
}

header p {
    order: 1;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    line-height: .7;
}

/* ----- aside directly inside of main ----- */
main > aside {
    width: 30%;
    padding: 15px 20px;
    border-left: 1px gray solid;
}

main aside:first-child {
    order: 1;
}

main aside:last-child {
    order: 3;
}

/* ----- article directly inside of main ----- */
main > article {
    padding: 20px;
    width: 70%;
}

/* dog and owner image */
img[src="images/dog-and-owner.webp"] {
    width: 40%;
    margin-top: -75px;
}

main article:first-child h2 {
    color: red;
    font-size: 2em;
    margin: 0;
}

main article:nth-child(2) h2 {
    font-size: 3em;
    font-weight: normal;
}

/* snow tubing image */
img[src="images/snow-tubing.webp"] {
    width: 100%;
}

/* align just the photo in the first article to the right, 
    reset everything else inside of the article to the left */
main article:first-child {
    padding-top: 0;
    text-align: right;
}

main article:first-child p, main article:first-child h2 {
    text-align: left;
}

main article:nth-child(2) {
    order: 2;
}

/* ----- footer ----- */
footer {
    border-top: 1px gray solid;
}